<!--<img-->
<!--        src="https://firebasestorage.googleapis.com/v0/b/trades-trek-simulator.appspot.com/o/emailTemplates%2Fimages%2Fverification.png?alt=media&token=5d6e7e96-0ae2-4f14-96f5-be1dbb0709a1&_gl=1*1evhgar*_ga*OTA0ODgyOTU0LjE2NjIyMDU4Mjg.*_ga_CW55HF8NVT*MTY5ODM0MjUzOC4xNTUuMS4xNjk4MzQ1MjgyLjYwLjAuMA.."-->
<!--        alt="logo4"-->
<!--        style="height: 150px; width: auto; margin: 0 auto"-->
<!--/>-->
<!--<p style="color: #2e2e2e;font-size: 16px;text-align: center;font-family: &quot;Poppins&quot;;font-weight: normal;margin: 0;margin-bottom: 15px;">-->
<!--    Dear {{fullName}},</p>-->
<p style="color: #2e2e2e; font-size: 16px">
    Thank you for signing up!.
    Please use the following code below to verify your email address
    <br/><br/>
    Verification Code: <b>{{otp}}</b><br/><br/>

    Enter this code within 15 minutes to confirm your email. If you didn't request this code, kindly disregard this
    email.
    <br/> Reach out to our customer support for assistance.<br/><br/>;
</p>


