<div style="
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    margin: 20px 0px;
                  ">
    {{image}}
</div>
<p style="color: #2e2e2e;font-size: 16px;text-align: center;font-family: &quot;Poppins&quot;;font-weight: normal;margin: 0;margin-bottom: 15px;">
    Dear {{fullName}},</p>
<p style="color: #2e2e2e; font-size: 16px">
    Thank you for joining Trades Trek. We are thrilled to have
    you on board. <br/>

    Before you get started, we recommend visiting your <a href="https://tradestrek.page.link/UdTB">learning page</a>

    to familiarize yourself with the basics of trading. <br/><br/>


    Thank you for choosing TradesTrek, and welcome aboard!
</p>


