<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Tradestrek</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&display=swap"
            rel="stylesheet"
    />

</head>
<body style="background-color: #fbf8ff;-webkit-font-smoothing: antialiased;font-size: 14px;line-height: 1.4;margin: 0;padding: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-family: &quot;Poppins&quot;;">
<header style="height: auto;position: relative;">
    <img src="https://firebasestorage.googleapis.com/v0/b/trades-trek-simulator.appspot.com/o/emailTemplates%2Fgroupbg.png?alt=media&token=c0ba9eca-937a-4879-9f03-d07a7473f7a8&_gl=1*1fps44k*_ga*OTA0ODgyOTU0LjE2NjIyMDU4Mjg.*_ga_CW55HF8NVT*MTY5ODM0MjUzOC4xNTUuMS4xNjk4MzQ0MjMzLjUxLjAuMA.."
         alt="logo" style="height: auto;width: 100%;border: none;-ms-interpolation-mode: bicubic;max-width: 100%;">
</header>
<!--<p style="color: #2e2e2e;font-size: 16px;text-align: center;font-family: &quot;Poppins&quot;;font-weight: normal;margin: 0;margin-bottom: 15px;">-->
<!--    ${HiHelloDear} ${name},</p>-->
<div class="container" style="display: block;max-width: 580px;padding: 10px;width: 580px;margin: 0 auto !important;">
    <div class="content" style="box-sizing: border-box;display: block;margin: 0 auto;max-width: 580px;padding: 10px;">
        <div class="main" style="background: #ffffff;border-radius: 3px;width: 100%;">
            <div class="wrapper" style="box-sizing: border-box;padding: 20px;">
                {{body}}

                <p style="color: #2e2e2e;font-size: 16px;font-family: &quot;Poppins&quot;;font-weight: normal;margin: 0;margin-bottom: 15px;">
                    Best Regards,</p>
                <p style="color: #2e2e2e;font-size: 16px;font-family: &quot;Poppins&quot;;font-weight: normal;margin: 0;margin-bottom: 15px;">
                    Trades Trek.</p>
                <div style="
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    margin: 20px 0px;
                  ">
                    <a style="
                      min-width: 300px;
                      padding: 20px 20%;
                      top: 568px;
                      left: 382px;
                      border-radius: 23px;
                      display: flex;
                      flex-direction: row;
                      justify-content: center;
                      align-items: center;
                      color: white;
                      text-decoration: none;
                      text-align: center;
                      background: var(--primary-color-violet, #8000ff);
                    "
                       href="https://tradestrek.page.link/UdTB">
                        <table style="width: 100%;">
                            <tr>
                                <td style="text-align: center;">Get Started</td>
                            </tr>
                        </table>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="display: block;max-width: 580px;padding: 10px;width: 580px;margin: 0 auto !important;">
    <div class="content" style="box-sizing: border-box;display: block;margin: 0 auto;max-width: 580px;padding: 10px;">
        <table class="main"
               style="border-collapse: separate;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;background: #ffffff;border-radius: 3px;">
            <div class="wrapper" style="box-sizing: border-box;padding: 20px;">
                <div style="align-items: center; margin: 20px 0px">
                    <div style="
                      color: #2e2e2e;
                      text-align: center;
                      font-weight: 500;
                      font-size: 20px;
                    ">
                        Get the Trades Trek app!
                    </div>
                    <div style="
                      color: #2e2e2e;
                      text-align: center;
                      font-weight: 500;
                      margin-top: 25px;
                    ">
                        Get the most of Trades Trek by installing the mobile app.
                    </div>
                </div>
                <div style="
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    margin: 20px 0px;
                  ">
                    <a style="
                      height: 50px;
                      margin: 0 auto;
                      border-radius: 23px;
                      display: flex;
                      flex-direction: row;
                      justify-content: center;
                      align-items: center;
                      color: white;
                      text-decoration: none;
                    " href="https://tradestrek.page.link/UdTB">
                        <img src="https://firebasestorage.googleapis.com/v0/b/trades-trek-simulator.appspot.com/o/emailTemplates%2Fimages%2FGetOnGoogle.png?alt=media&token=3fc344d4-1844-4a40-aa08-e02d0cb217a1&_gl=1*r4rneu*_ga*OTA0ODgyOTU0LjE2NjIyMDU4Mjg.*_ga_CW55HF8NVT*MTY5ODM0MjUzOC4xNTUuMS4xNjk4MzQ1MzY5LjYwLjAuMA.."
                             alt="logo3"
                             style="height: 50px;width: 100%;left: 0;right: 0;border: none;-ms-interpolation-mode: bicubic;max-width: 100%;">
                    </a>
                    <a style="
                      height: 50px;
                      margin: 0 10px;
                      border-radius: 23px;
                      display: flex;
                      flex-direction: row;
                      justify-content: center;
                      align-items: center;
                      color: white;
                      text-decoration: none;
                    " href="https://tradestrek.page.link/UdTB">
                        <img src="https://firebasestorage.googleapis.com/v0/b/trades-trek-simulator.appspot.com/o/emailTemplates%2Fimages%2FGetonApple.png?alt=media&token=54086d8c-f207-42f0-8e8b-c0508da7f022&_gl=1*39vajf*_ga*OTA0ODgyOTU0LjE2NjIyMDU4Mjg.*_ga_CW55HF8NVT*MTY5ODM0MjUzOC4xNTUuMS4xNjk4MzQ1MzkzLjM2LjAuMA.."
                             alt="logo2"
                             style="height: 50px;width: 100%;left: 0;right: 0;border: none;-ms-interpolation-mode: bicubic;max-width: 100%;">
                    </a>
                </div>
            </div>
        </table>
    </div>
</div>

<div style="
            margin: 30px 0;
            text-align: center;
            font-weight: 400;
            color: #393939;
            font-size: 14px;
          ">
    <img src="https://firebasestorage.googleapis.com/v0/b/trades-trek-simulator.appspot.com/o/emailTemplates%2Fimages%2FtradeShortLogo.png?alt=media&token=02bbd949-e3f2-4402-a83b-3554c05d03a5&_gl=1*o6epzd*_ga*OTA0ODgyOTU0LjE2NjIyMDU4Mjg.*_ga_CW55HF8NVT*MTY5ODM0MjUzOC4xNTUuMS4xNjk4MzQ1NjczLjI2LjAuMA.."
         alt="logo1"
         style="height: 20px;width: auto;margin: 0 auto;left: 0;right: 0;border: none;-ms-interpolation-mode: bicubic;max-width: 100%;">
    <h4 style="color: #000000;font-family: &quot;Poppins&quot;;font-weight: 400;line-height: 1.4;margin: 0;">Copyright
        &#169; 2023, Trades Trek. All Rights Reserved</h4>
</div>
</body>
</html>
